mixin landing-testimonial-item(data)
  div.testimonial
    div.testimonial--testimonial
      p= data.testimonial
    div.testimonial--image
      - var alt = 'Image of ' + data.name
      img(src=data.image alt=alt)
    div.testimonial--name
      h3= data.name
    div.testimonial--position
      p !{data.position}
