nav.navbar.navbar-expand-lg
  div.navbar-brand
    include logo
  button.navbar-toggler(
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation")
    span.navbar-toggler-icon
  div#navbarText.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link.text-uppercase(href="#") How it works
          span.sr-only (current)
      li.nav-item
        a.nav-link.text-uppercase(href="#") Contact
    span.navbar-text
      a.nav-link.text-uppercase(href="#") Start free trial
